@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Forum&family=Vujahday+Script&display=swap');
*{ 
    margin:0;
    padding: 0;
}

body {
    font-family:"forum";
    background-image: url(img/headerwhite.jpg);
    background-size:contain;
    padding-left:10%;
    padding-right: 10%;
}

.header {
    background-color:rgb(31, 41, 55);
    padding-bottom:50px;
    padding-left:12px;
    padding-right:12px;
    padding-top:10px;
}

.navbar {
 
    margin-bottom: 50px;
    border-style: solid;
    border-width: 3px;
    border-color:white;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;

}

.navbar-left {
    
    color:rgb(107, 201, 233);
    font-family:"vujahday script";
    font-weight: bolder;
    font-size: 60px;


}


.headerlinks{
    color:white;
    margin: 10px;
    font-size:18px;
}

ul {
    display:flex;
    flex-direction:row;
    
}

.header-content {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap:wrap;

}


h1 {
    color:white;
    font-family:"vujahday script";
    font-weight: bolder;
    font-size:48px;
}

.book-a-gig {
    color:white;
    background-color: rgb(107, 201, 233);
    font-size:18px;
    margin: 10px;
    border-radius: 5px;
    padding:3px;
}
button:hover {
    background-color: white;
    color:rgb(107, 201, 233);
}


.second-section {
    
}

.tealbold {
    color:rgb(107, 201, 233);
    background-color: white;
    font-family:"vujahday script";
    font-weight: bolder;
    font-size:48px;
    padding-bottom:5px;
    margin:15px;

    display:flex;
    justify-content:center;

}

.boxes {
   margin:40px;
   font-size:18px;
   font-weight:bolder;

   
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    
    
    
}

.pic {
    border-radius:25px;
    font-weight:bolder;
    
    width:150px;
    height:auto;

   
}

.quote {
    font-size: 35px;
    font-weight:900;
    color:white;
    background-color:rgba(31, 41, 55, .9);
    padding-left: 80px;
    padding-right: 80px;
   padding-top:40px;
   padding-bottom:40px;
   border-style:double;
   border-color:white;
   border-width: 5px;
   
   display:flex;
   flex-direction: column;
   justify-content:center;
}

.name { 
    display:flex;
    justify-content:flex-end;
}
.footer {
    background-color: rgb(107, 201, 233);
    margin-top: 20px;
    
    border-style:solid;
    border-width:80px;
    border-color:white;
}